table{
    margin:0 auto;
    border: 1px black solid;
    border-spacing: 0px;
}

div#graph{
    height: 100%;
}

td#graph{
    height: 400px;
}


td.btn{
    width: 100px;
    height: 50px;
    text-align: center;
    background: #F2F2F2;
    font-family: "Cambria Math";
}

td.record{
    width: 250px;
    height: 50px;
    text-align: right;
    font-family: "Cambria Math";
}
td.upbar{
    height: 40px;
    font-size: 25px;
}
td:hover{
    background: #DADADA;
}
td:active{
    background: #C2C2C2;
}

td.setting{
    text-align: right;
}

select.sel_mode{
    width: 100%;
    height: 40px;
    font-size: 25px;
    border: white;
}